<div class="container">
  <div class='row'>
    <div class='col-sm-9'>
      <h3><%= @apartment.title %></h3>
      <p><%= @apartment.description %></p>
    </div>
    <div class='col-sm-9'></div>
  </div>
</div>